table {
  border-collapse: collapse;
}

tr {
  border: 1px solid #872f2f;
}

td {
  padding: 0.5rem;
}

.tablescroll {
  overflow-x: auto;
}

table,
thead,
tbody,
th,
tr {
  display: block;
}

td {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem;
}
